* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F68080;
  font-size: 1.3em;
  line-height: 1.5em;
}

h1{
  text-align: center;
}

p {
  margin: 0;
  padding: 10px 0px;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.text-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


form input, form label, form button {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
}

form input:focus {
  outline: 1px solid #F68080;
}

form button {
  border: none;
  border-radius: 5px;
  background: #F68080;
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  transition: .2s
}

form button:hover {
  filter: brightness(90%);
}

.paragrafo-resultado, .erro {
  background: rgb(109, 255, 182);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.erro {
  background: red;
  color: #fff;
}